<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu Plano de Estudos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Seu Plano de Estudos Personalizado</h1>
        <a href="/" class="back-button">Voltar</a>
        
        <div class="study-plan">
            <%- studyPlan.replace(/\n/g, '<br>') %>
        </div>
        
        <a href="/" class="back-button">Voltar</a>
    </div>
</body>
</html>